@use "partials/header";
@use "partials/search";
@use "partials/button";
@use "partials/find-box";

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
