@use "../variables/colors";

.button {
  border: 1px solid colors.$button-color;
  background-color: colors.$button-color;
  border-radius: 40px;
  width: 100%;
  max-width: 320px;
  height: 55px;
}
.button--thin {
  width: 200px;
  height: 46px;
  width: 100%;
  color: colors.$main-color;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
