@use "../variables/colors";

.button {
  border: 1px solid colors.$button-color;
  background-color: colors.$button-color;
  border-radius: 40px;
  width: 100%;
  max-width: 320px;
  height: 55px;
  margin-bottom: 25px;
  color: colors.$main-color;
  font-weight: bold;
}

.button--thin {
  width: 200px;
  height: 46px;
  width: 100%;
  color: colors.$main-color;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.button--transparent {
  border: 2px solid #d9dbe9;
  background-color: white;
  color: colors.$titles-1-color;
  border-radius: 40px;
  max-width: 178px;
  height: 43px;
}
