@use "../variables/colors";

.button {
  border: 1px solid colors.$button-color;
  background-color: colors.$button-color;
  border-radius: 40px;
  width: 100%;
  max-width: 320px;
  height: 55px;
  margin-bottom: 25px;
  color: colors.$main-color;
  font-weight: bold;
}

.button--thin {
  width: 200px;
  height: 40px;
}
