$main-color: white;
$titles-1-color: #5f2eea;
$titles-2-color: #bca4ff;
$button-color: #ed2e7e;
$background-elements-1: #2a00a2;
$background-elements-2: #5f2eea;
$background-inputs: #f7f7fc;
$border-color: rgb(208, 206, 206);
