@use "../variables/colors";

.button {
  border: 1px solid colors.$button-color;
  background-color: colors.$button-color;
  border-radius: 40px;
  width: 421px;
  height: 55px;
}
.button--thin {
  width: 200px;
  height: 40px;
}
